:host {
  display: block;
  height: 100vh;
  background: rgba(255, 213, 79, 0.521);
}

mat-card {
  background: rgba(255, 213, 79, 0.1);
}

button {
  opacity: 0.8;
}

mat-card-content {
  margin-bottom: 0;
}

.error {
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content > * {
  width: 100%;
}